<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

  <!-- サービス名を環境変数から取得 -->
  <property name="SERVICE_NAME" value="${logback.service.name}" />

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${application.home:-.}/logs/application.log</file>
    <!-- encoderが共通化できなかったので、雑にカスタマイズしていないJSONログを出力しておく -->
    <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <!-- false にすると application.home が出力されなくなる -->
      <includeContext>false</includeContext>

      <!-- マイクロサービス前提だと、サービス名も出力しておいたほうがいい気がする -->
      <!-- HOSTNAMEはデフォルトで使えるらしいので、ついでに出力している -->
      <customFields>{"service_name":"${SERVICE_NAME}","hostname":"${HOSTNAME:-}"}</customFields>

      <!-- JSON のキー名を変更 -->
      <fieldNames>
        <!-- timestamp はデフォルトだと @timestamp になってしまうため明示的に指定 -->
        <timestamp>timestamp</timestamp>
        <!-- ログのバージョン情報を付与するフィールドだが、そこまで厳密な運用はしないと思うので除外 -->
        <!-- ログのバージョン情報によって、集計処理などを切り替えられる可能性はあるので入れておいてもいい -->
        <version>[ignore]</version>
      </fieldNames>

      <!-- タイムゾーンの指定：環境依存にしたくないので、明示的に指定する -->
      <timeZone>Asia/Tokyo</timeZone>
    </encoder>
  </appender>

  <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE" />
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <logger name="play" level="INFO" />
  <logger name="application" level="DEBUG" />

  <!-- SQLの実行ログ出力設定 -->
  <!-- ここで設定する値と application.conf で設定する scalikejdbc.global.loggingSQLAndTime.logLevel は同一の値を設定する -->
  <logger name="scalikejdbc" level="DEBUG"/>

  <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
  <logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF" />
  <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />

  <root level="WARN">
    <appender-ref ref="ASYNCFILE" />
    <appender-ref ref="ASYNCSTDOUT" />
  </root>

</configuration>
