<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

  <!-- サービス名を環境変数から取得 -->
  <property name="SERVICE_NAME" value="${logback.service.name}" />

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${application.home:-.}/logs/application.log</file>
    <!-- encoderが共通化できなかったので、雑にカスタマイズしていないJSONログを出力しておく -->
    <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers class="cores.logback.PatchedLoggingEventPatternJsonProvider">
        <timestamp />
        <pattern>
          <pattern>
            {
            "thread": "%thread",
            "relative": "#asLong{%relative}",
            "json_message": "#asJson{%message}"
            }
          </pattern>
        </pattern>
      </providers>
    </encoder>
  </appender>

  <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE" />
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <logger name="play" level="INFO" />
  <logger name="application" level="DEBUG" />

  <!-- SQLの実行ログ出力設定 -->
  <!-- ここで設定する値と application.conf で設定する scalikejdbc.global.loggingSQLAndTime.logLevel は同一の値を設定する -->
  <logger name="scalikejdbc" level="DEBUG"/>

  <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
  <logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF" />
  <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />

  <root level="WARN">
    <appender-ref ref="ASYNCFILE" />
    <appender-ref ref="ASYNCSTDOUT" />
  </root>

</configuration>
